extends index

block content
    h1 Wordle of the Day
    h2 #{word}


    h1 Let's have a look at what the word means!
    ul
    - let count = 1
    each val  in details
        h2 Detail ##{count}
        - count+= 1
        h3 Phonetic
        audio(controls='', autoplay='')
            - let url = ""; if(val.phonetics && val.phonetics[0]) url = val.phonetics[0].audio
            source(src= url, type='audio/mpeg')

        - let innerCount = 1
        each meaning in val.meanings
            h3 Meaning ##{innerCount}
            - innerCount+= 1
            h4 Part of Speech : #{meaning.partOfSpeech}
            - let count2 = 1
            each definition in meaning.definitions
                h5 Definition ##{count2}
                - count2+=1
                p #{definition.definition}
                h5 Example
                p #{definition.example}


